*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;

}

header{
    padding: 25px;
    background-color: white;

}

#logo{
    height: 75px;
    vertical-align: middle;

}

header > h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 64px;
}

body{
    background-color: #F6F8F9;

}

main{
    background-color: white;
    margin: 50px 200px 50px 200px;
}

.buttonsection{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 25px 50px;
    margin-bottom: 10px;

}

.button{
    border: 1px grey solid;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;

}

.enabled{
    color: white;
    background-color: #47ADF1;

}

.disabled{
    color: grey;
    background-color: white;

}