*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;

}

header{
    padding: 25px;
    background-color: white;

}

/* TODO: Style logo */

#logo{
    height: 75px;
    vertical-align: middle;

}

header > h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 64px;
}

body{
    background-color: #F6F8F9;

}

main{
    margin: 50px 200px 50px 200px;
}

/* TODO: Style buttons */

.buttonsection{
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 25px 50px;
    margin-bottom: 5px;

}

.button{
    border: 1px grey solid;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;

}

.enabled{
    color: white;
    background-color: #47ADF1;

}

.disabled{
    color: grey;
    background-color: white;

}

/* TODO: Style Task section */

.tasksection{
    background-color: white;
    padding: 75px;
    padding-top: 25px;
}

.taskdiv{
    margin-bottom: 25px;
    line-height: 25px;

}

.task{
    display: block;
    padding: 10px;
    font-size: 14px;
}

h2{
    display: inline-block;
    margin-bottom: 10px;
}

/* TODO: Style Checkmark / Cross */

.state{
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bolder;
}

.done{
    color: green;
    border: 1px solid green;

}

.notdone{
    font-size: 12px;
    color: red;
    border: 1px solid red;

}


/* TODO: Task name, tooltip style */

.taskname{
    font-size: 22px;
    padding: 10px;

}

.tasktip{
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
}

.editorial{
    background-color: #45ABEA;
}

.q1{
    background-color: #9C72E4;

}

.recruiting{
    background-color: #64C0A9;

}

.mobile{
    background-color: #F29E33;

}

.website{
    background-color: #D863A1;
}

.sales{
    background-color: #B0C926;
}